body {
  font-family: sans-serif;
  margin: 0rem;
  padding: 0rem;
}
header, footer {
  background: #222;
  color: white;
  padding: 1.5rem;
}
h2, p {
  margin: 1rem 1rem 1rem 2rem;
}
img {
    border-radius: 100%;
    margin-left: 2rem;
}
a { color: lightblue; 
    text-decoration: none; 
    margin-right: 1rem; }